:root {
  --soft-red: #EC407A;
  --soft-yellow: #fff587;
  --grey-purple: #7d6b7d;
  --soft-orange: #EE894D;
  --light-green: #E6EE9C;
  --grey: #c0baad;
  --dark: #151524;
  --light: #f6f6f6;
  --bg: #fff3e0;
}

::selection {
  background: var(--soft-orange);
  color: #fff;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--dark);
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
}

html,
body {
  font-size: 16px;
  font-family: aileron, sans-serif;
  background-color: var(--bg);
  color: var(--dark);
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
}

button {
  pointer-events: auto;
  cursor: pointer;
  border: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  user-select: none;
}

.wrapper {
  padding: 2rem;
  margin: auto;
  max-width: 48rem;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.title > div {
  margin: auto 2em;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4em;
}

.completed {
  text-decoration: line-through;
  filter: opacity(40%);
}

/* sm */
@media screen and (max-width: 640px) {
  .wrapper {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0;
  }
  .title {
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  h1 {
    margin: 0.4em;
  }

  p {
    padding-top: 2rem;
    margin: auto;
  }
}

/* md */
@media screen and (max-width: 768px) {
}